@charset "utf-8";
.add-reminder, .view-reminders, #textme{
	display: none;
}

.container-fluid{
	background-color: darkgray;
}

.dropdown-menu p{
	padding: 2px 20px;
	margin: 0px;
}

#textme{
	position: absolute;
	right: 20px;
	top: 10px;
}

#date, #time{
	max-width: 180px;
}

.datetime *{
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

#footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.divInput {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 4px solid black;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 10px;
    resize: both;
    width: 100px;
}

.navbar-brand{
	color: maroon !important;
	font-family:Garamond;
	font-weight:bold;
	font-variant:small-caps;
	font-size: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
	color:maroon;
	font-family:Garamond;
	font-weight:bold;
	font-variant:small-caps;
}


